<% if !flash[:notice].blank? %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<div class="sections index">
  <h2>Subjects</h2>

  <%= link_to("Add New Section", new_subject_path, :class => 'action new') %>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>#</th>
      <th>Page Id</th>
      <th>Section</th>
      <th>Visible</th>
      <th>Actions</th>

    </tr>
    <% @sections.each do |subject| %>
    <tr>
      <td><%= subject.position %></td>
      <td><%= subject.page_id %></td>
      <td><%= subject.name %></td>
      <td class="center"><%= subject.visible ? 'Yes' : 'No' %></td>
      <td class="center"><%= subject.pages.size %></td>
      <td class="actions">
        <%= link_to("Show", subject_path(subject), :class => 'action show') %>
        <%= link_to("Edit", edit_subject_path(subject), :class => 'action edit') %>
        <%= link_to("Delete", delete_subject_path(subject), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
